{% extends "ecommerce/base.html" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2>About Us</h2>
				<br />
				
				<p><img src="https://picsum.photos/g/1200/300" class="img-responsive" width="100%"></p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam faucibus nunc eget ipsum posuere, commodo maximus velit consequat. Nunc imperdiet quis arcu ac sollicitudin. Nunc nec sapien lectus. Vivamus ornare semper ipsum. Pellentesque non bibendum lectus, blandit lacinia lacus. Duis vitae dapibus dui. Praesent est neque, elementum et libero cursus, vehicula hendrerit mi.</p>
				
				<p>Aenean et mollis quam. In vitae aliquam nisi. Aliquam posuere massa ut convallis semper. Proin a tortor nec ante accumsan imperdiet et ac mi. Praesent in neque at libero sodales sodales id non justo. Morbi facilisis ligula sollicitudin nisl egestas ultrices. Nunc eros nisl, luctus et magna non, lacinia pharetra dui. Suspendisse blandit, lacus non imperdiet faucibus, dolor justo eleifend odio, eget dignissim lectus metus sit amet tellus. Vivamus et ante eget lorem rutrum semper. Morbi eu ligula vitae odio consequat venenatis ac vitae est. Nulla facilisi. Vivamus placerat in est sed venenatis. Cras semper augue at ex rutrum, nec ultricies eros scelerisque.</p>

				<p>Integer dignissim, ex vitae porttitor facilisis, elit quam consectetur erat, sed pulvinar tellus risus at tortor. Ut vulputate ultrices enim in fringilla. Ut ultricies scelerisque ante et mattis. Suspendisse eu ante blandit, convallis arcu vitae, eleifend enim. In neque risus, ullamcorper in vestibulum ut, iaculis id erat. Sed tellus lorem, volutpat non neque non, ornare egestas urna. Etiam faucibus non orci sed blandit. Donec ut venenatis magna. Donec eu aliquam risus, sit amet pharetra ligula. Nulla facilisi. Cras interdum nulla in nibh iaculis, ut imperdiet justo tristique.</p>
				
				<p><img src="https://picsum.photos/g/600/300" class="img-responsive" width="100%"></p>
				<p>Phasellus elementum venenatis ante in posuere. Nullam sit amet ipsum sit amet dolor vehicula convallis. Nullam consectetur eleifend ipsum, varius malesuada quam facilisis non. Sed sed vestibulum purus, ac elementum ipsum. Suspendisse vitae imperdiet elit. Aenean euismod lobortis maximus. Curabitur auctor venenatis ullamcorper.</p>

				<p>Etiam a ligula velit. Sed ultricies ante nec sem consectetur, at tristique nulla venenatis. Phasellus condimentum, metus et molestie fermentum, diam massa porta est, vel malesuada turpis erat id magna. Mauris cursus quam ligula, quis cursus augue iaculis id. Nullam elementum, lectus ut lobortis bibendum, justo tortor consequat tellus, et lacinia diam eros nec eros. Praesent fermentum efficitur felis, eu mollis eros iaculis ac. Curabitur non gravida odio. Donec blandit lacus risus, quis semper magna posuere sit amet. Integer pharetra arcu eget mauris semper, sed euismod leo porta. Phasellus tempus faucibus lobortis. Donec viverra quis leo vel bibendum. Pellentesque sed nulla mi. Cras at luctus diam, eget luctus sapien.</p>
			</div>
		</div>
	</div>
{% endblock %}