{% extends "ecommerce/base.html" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<h2>Contact Us</h2>
				<br />
				<table class="table">
					<tr>	
						<th><i class="fa fa-home fa-1x"></i> Address:</th>               
						<td>Baguio City, Philippines 2600</td>
					</tr>
					<tr>
						<th><i class="fa fa-envelope fa-1x"></i> E-Mail Address:</th>
						<td><a href="mailto:carl.fontanos@gmail.com">carl.fontanos@gmail.com</a></td>
					</tr>
					<tr>
						<th><i class="fa fa-user fa-1x"></i> Author:</th>
						<td>Carl Victor C. Fontanos</td>
					</tr>
					<tr>
						<th><i class="fa fa-link fa-1x"></i> Website:</th>
						<td><a href="http://www.carlofontanos.com">www.carlofontanos.com</a></td>
					</tr>
				</table>
				<br >
				
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3827.4021417487606!2d120.59976289999999!3d16.4043903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3391a141aa154c0f%3A0x36133249722cd8fa!2sBaguio+Convention+Center!5e0!3m2!1sen!2sph!4v1530511139735" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
       

{% endblock %}