{% extends "ecommerce/base.html" %}

{% block content %}
	<div class="container wave-box-wrapper">
		<div class="wave-box"></div>
		<form action="{% url 'ecommerce:user_register' %}" method="post" class="create-account">
			{% csrf_token %}
			<div class="col-md-8 offset-md-2">
				<div class="card">
					<div class="card-header">Register</div>
					<div class="card-body">
						<div class="form-group row">
							<label for="{{ form.username.id_for_label }}" class="col-md-4 control-label text-md-right">Username<span class="text-red">*</span>:</label>
							<div class="col-md-6">
								{{ form.username }}
							</div>
						</div>
						<div class="form-group row">
							<label for="{{ form.email.id_for_label }}" class="col-md-4 control-label text-md-right">Email<span class="text-red">*</span>:</label>
							<div class="col-md-6">
								{{ form.email }}
							</div>
						</div>
						<div class="form-group row">
							<label for="{{ form.password.id_for_label }}" class="col-md-4 control-label text-md-right">Password<span class="text-red">*</span>:</label>
							<div class="col-md-6">
								{{ form.password }}
							</div>
						</div>
						<div class="form-group row">
							<label for="{{ form.password_repeat.id_for_label }}" class="col-md-4 control-label text-md-right">Confirm password:</label>
							<div class="col-md-6">
								{{ form.password_repeat }}
							</div>
						</div>
						<div class="form-group row">
							<label for="{{ form.first_name.id_for_label }}" class="col-md-4 control-label text-md-right">First Name:</label>
							<div class="col-md-6">
								{{ form.first_name }}
							</div>
						</div>
						<div class="form-group row">
							<label for="{{ form.last_name.id_for_label }}" class="col-md-4 control-label text-md-right">Last Name:</label>
							<div class="col-md-6">
								{{ form.last_name }}
							</div>
						</div>
						<div class="form-group row">
							<label for="{{ form.phone_number.id_for_label }}" class="col-md-4 control-label text-md-right">Phone Number:</label>
							<div class="col-md-6">
								{{ form.phone_number }}
							</div>
						</div>
						<div class="col-md-6 offset-md-4 px-0 px-xl-2">
							<input type="submit" value="Register" class="btn btn-primary">
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
{% endblock %}